@charset "utf-8";

*{
	margin:0;
	padding:0;
	font-family: "microsoft yahei";
	font-size:12px;
	color:black;
}

img{
	border:none;
}

input,textarea{
	background: none;
	border:none;
}

em{
	font-style: normal;
}

strong{
	font-weight: bold;
}

li{
	list-style-type:none;
}

a{
	text-decoration: none;
}

a:link,a:visited,a:hover,a:active {
	color: #000;
}

body{
	width:100%;
	min-width: 1000px;
	background: white;
}

.cl{
	clear: both;
}

.h1{width:1px;height:1px;}
.h2{width:1px;height:2px;}
.h3{width:1px;height:3px;}
.h4{width:1px;height:4px;}
.h5{width:1px;height:5px;}
.h6{width:1px;height:6px;}
.h7{width:1px;height:7px;}
.h8{width:1px;height:8px;}
.h9{width:1px;height:9px;}
.h10{width:1px;height:10px;}
.h11{width:1px;height:11px;}
.h12{width:1px;height:12px;}
.h13{width:1px;height:13px;}
.h14{width:1px;height:14px;}
.h15{width:1px;height:15px;}
.h16{width:1px;height:16px;}
.h17{width:1px;height:17px;}
.h18{width:1px;height:18px;}
.h19{width:1px;height:19px;}
.h20{width:1px;height:20px;}
.h21{width:1px;height:21px;}
.h22{width:1px;height:22px;}
.h23{width:1px;height:23px;}
.h24{width:1px;height:24px;}
.h25{width:1px;height:25px;}
.h26{width:1px;height:26px;}
.h27{width:1px;height:27px;}
.h28{width:1px;height:28px;}
.h29{width:1px;height:29px;}
.h30{width:1px;height:30px;}
.h31{width:1px;height:31px;}
.h32{width:1px;height:32px;}
.h33{width:1px;height:33px;}
.h34{width:1px;height:34px;}
.h35{width:1px;height:35px;}
.h36{width:1px;height:36px;}
.h37{width:1px;height:37px;}
.h38{width:1px;height:38px;}
.h39{width:1px;height:39px;}
.h40{width:1px;height:40px;}
.h41{width:1px;height:41px;}
.h42{width:1px;height:42px;}
.h43{width:1px;height:43px;}
.h44{width:1px;height:44px;}
.h45{width:1px;height:45px;}
.h46{width:1px;height:46px;}
.h47{width:1px;height:47px;}
.h48{width:1px;height:48px;}
.h49{width:1px;height:49px;}
.h50{width:1px;height:50px;}
.h51{width:1px;height:51px;}
.h52{width:1px;height:52px;}
.h53{width:1px;height:53px;}
.h54{width:1px;height:54px;}
.h55{width:1px;height:55px;}
.h56{width:1px;height:56px;}
.h57{width:1px;height:57px;}
.h58{width:1px;height:58px;}
.h59{width:1px;height:59px;}
.h60{width:1px;height:60px;}
.h61{width:1px;height:61px;}
.h62{width:1px;height:62px;}
.h63{width:1px;height:63px;}
.h64{width:1px;height:64px;}
.h65{width:1px;height:65px;}
.h66{width:1px;height:66px;}
.h67{width:1px;height:67px;}
.h68{width:1px;height:68px;}
.h69{width:1px;height:69px;}
.h70{width:1px;height:70px;}
.h71{width:1px;height:71px;}
.h72{width:1px;height:72px;}
.h73{width:1px;height:73px;}
.h74{width:1px;height:74px;}
.h75{width:1px;height:75px;}
.h76{width:1px;height:76px;}
.h77{width:1px;height:77px;}
.h78{width:1px;height:78px;}
.h79{width:1px;height:79px;}
.h80{width:1px;height:80px;}
.h81{width:1px;height:81px;}
.h82{width:1px;height:82px;}
.h83{width:1px;height:83px;}
.h84{width:1px;height:84px;}
.h85{width:1px;height:85px;}
.h86{width:1px;height:86px;}
.h87{width:1px;height:87px;}
.h88{width:1px;height:88px;}
.h89{width:1px;height:89px;}
.h90{width:1px;height:90px;}
.h91{width:1px;height:91px;}
.h92{width:1px;height:92px;}
.h93{width:1px;height:93px;}
.h94{width:1px;height:94px;}
.h95{width:1px;height:95px;}
.h96{width:1px;height:96px;}
.h97{width:1px;height:97px;}
.h98{width:1px;height:98px;}
.h99{width:1px;height:99px;}
.h100{width:1px;height:100px;}
.h106{width:1px;height:106px;}
.h110{width:1px;height:110px;}
.h130{width:1px;height:130px;}
.h290{width:1px;height:290px;}

.first{
	width:100%;
	min-width: 1200px;
	height:100%;
}
.firstl{
	width:67.9%;
	float:left;
	height:100%;
}
.bannerBox{  
	width:100%;  
	position:relative;
}
.bannerList{ 
	position:relative;
}
.bannerList li{
	position: absolute; 
	left:0; 
	top:0; 
	width:100%; 
}
.xban{
	width:100%;
	position: relative;
}
.xban img{
	position: absolute;
}
.xban .img1{
	top:353px;
	right:301px;
}
.xban .img2{
	top:437px;
	right:830px;
}
.xban .img3{
	top:67px;
	right:179px;
}
.xban .img4{
	top:667px;
	right:297px;
}
.xban .img5{
	top:117px;
	right:387px;
}
.xban .img6{
	top:421px;
	right:472px;
}
.xban .img7{
	top:421px;
	right:427px;
}
.xban .img8{
	top:421px;
	right:476px;
}
.xban .img9{
	top:421px;
	right:445px;
}
.firstrbox{
	width:32.1%;
	float:right;
	background: url("images/x2.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x2.jpg*/) 57px 16px;
}
.firstr{
	width:214px;
	margin-left:23px;
	background: url("images/x12.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x12.png*/) no-repeat left 110px;
}
.logo{
	line-height: 0;
	font-size: 0;
	width:214px;
	text-align: center;
}
.nav a{
	display: block;
	text-align: center;
	line-height: 67px;
	color:#444444;
	font-size: 20px;
}
.nav a:hover{
	background: url("images/x14.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x14.png*/) no-repeat center bottom;
}
.qr{
	width:100%;
	text-align: center;
}
.two{
	width:100%;
	background: url("images/x16.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x16.jpg*/) no-repeat center top;
}
.itit{
	width:100%;
	text-align: center;
	cursor: default;
}
.itit span{
	font-size: 16px;
	color:#686868;
	line-height: 24px;
}
.itit p{
	color:#c1a462;
	font-size: 26px;
	line-height: 50px;
}
.img-scroll { position:relative; margin:104px auto; width:1200px;}
/*.img-scroll .prev,.img-scroll .next { position:absolute; display:block; width:50px; height:100px; background-color:#000;top:0; color:#FFF; text-align:center; line-height:100px}
.img-scroll .prev { left:0}
.img-scroll .next { right:0}*/
.img-list { position:relative; width:1200px; height:407px; overflow:hidden}
.img-list ul { width:9999px;}
.img-list li { float:left; display:inline; width:359px; margin-right:58px; height:405px;border:1px dashed #aaaaaa;overflow: hidden; }
.img-list li .img-list-img{width:359px;height:276px;overflow: hidden;}
.img-list li img{width:359px;height:276px;transition:all 1s ease 0s;}
.img-list li img:hover{transform:scale(1.2,1.2);}
.img-list li p{line-height: 68px;height:68px;color:#686868;font-size: 24px;text-align: center;}
.img-list li span{width:74px;margin:0 auto;display: block;text-align: center;color:#686868;font-size: 18px;height:29px;border-bottom:1px solid #aaaaaa;}
.img-btn{width:238px;margin:0 auto;height:22px;}
.img-btn span{width:39px;height:22px;float:left;display: block;background: #bababa;text-align: center;line-height: 22px;font-size: 16px;cursor: pointer;color:white;}
.img-btn a{width:160px;height:22px;float:left;display: block;text-align: center;color:#c1a462;font-size: 22px;line-height: 22px;cursor: pointer;}
.img-btn span:hover{background:#c1a462;}
.three{
	background: url("images/x21.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x21.jpg*/) center top; 
	background-size:100% 100%;
}
.three_main{
	width:1200px;
	margin:0 auto;
}
.threel{
	float:left;
	width:451px;
}
.threel_news{
	width:365px;
	height:240px;
	padding:0 37px 0 49px;
	background: rgba(0,0,0,0.5);
}
.threel_news span{
	color:white;
	font-size: 22px;
}
.threel_news .line{
	width:43px;
	height:1px;
	background: #c0a25c;
}
.threel_news p{
	color:white;
	font-size: 14px;
	line-height: 28px;
}
.threel_ads{
	width:451px;
	height:159px;
}
.threel_adsl{
	float:left;
	width:287px;
	text-align: center;
}
.threel_adsr{
	float:left;
	width:129px;
}
.threem{
	width:299px;
	height:639px;
	background: #f1f0ec;
	float:left;
	text-align: center;
}
.threem p{
	color:#686868;
	font-size: 16px;
	line-height: 28px;
}
.threem a{
	width:185px;
	height:54px;
	background: #c0a25c;
	color:white;
	line-height: 54px;
	display: block;
	margin:0 auto;
	font-size: 18px;
}
.threer{
	float:left;
	width:318px;
}
.threerimg{
	width:98px;
	height:98px;
	float:left;
	margin:0 0 8px 8px;
	overflow: hidden;
}
.threerimg img{
	transition:all 1s ease 0s;
}
.threerimg img:hover{
	transform:scale(1.2,1.2);
}
.fourbox{
	width:100%;
	background: white url("images/x35.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x35.png*/) no-repeat center top;
}
.four{
	width:100%;
	background: url("images/x36.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x36.png*/) no-repeat center bottom;
}
.icase{
	width:1252px;
	margin:0 auto;
}
.icase a{
	display: block;
	float:left;
	width:261px;
	height:463px;
	border-bottom:1px solid #d2d2d2;
	line-height: 0;
	font-size: 0;
	margin:0 26px;
}
.icase3list{
	width:261px;
	height:411px;
	overflow: hidden;
}
.icase3list img{
	transition:all 1s ease 0s;
}
.icase3list img:hover{
	transform:scale(1.2,1.2);
}
.icase img{
	width:261px;
	height:411px;
}
.icase p{
	text-align: center;
	height:52px;
	line-height: 52px;
	color:#444444;
	font-size: 16px;
}
.five{
	width:100%;
}
.fivel{
	float:left;
	width:50%;
	background: url("images/x41.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x41.jpg*/) no-repeat center center;
	background-size:100% 100%;
}
.fivel_main{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
	width:397px;
	height:397px;
	line-height: 0;
	font-size: 0;
	background: url("images/x42.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x42.png*/);
	text-align: center;
}
.fivel_maintel{
	width:100%;
	padding-left:110px;
	background: url("images/x44.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x44.png*/) no-repeat 48px center;
	height:49px;
	line-height: 49px;
	color:#242424;
	font-size: 40px;
	text-align: left;
}
.fiver{
	float:right;
	width:50%;
	background: #f1f0ec;
}
.fiver_inp{
	width:530px;
	height:54px;
	border:1px solid #aaaaaa;
	padding-left: 30px;
	line-height: 54px;
	font-size: 16px;
	color:#cfcfcf;
	margin:0 auto;
}
.fiver_btn{
	width:560px;
	margin:0 auto;
}
.fiver_btn input[type="submit"]{
	width:260px;
	height:55px;
	float:left;
	text-align: center;
	line-height: 55px;
	background: #c1a462;
	font-size: 26px;
	color:white;
}
.fiver_btn input[type="reset"]{
	width:260px;
	height:55px;
	float:right;
	text-align: center;
	line-height: 55px;
	background: #686868;
	font-size: 26px;
	color:white;
}
.top{
	width:100%;
	height:167px;
}
.topl{
	float:left;
	width:67.9%;
	height:167px;
	background: url("images/x46.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x46.jpg*/);
}
.snav{
	width:960px;
	float:right;
	height:167px;
}
.snav a{
	display: block;
	width:120px;
	float:left;
	color:white;
	font-size: 20px;
	text-align: center;
	padding-top:100px;
	height:67px;
}
.snav a:hover{
	background: #c39746;
}
.topr{
	float:right;
	width:32.1%;
	height:167px;
	background: url("images/x2.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x2.jpg*/);
}
.topr img{
	margin-left:36px;
}
.scon_pic{
	width:100%;
	text-align: center;
}
.scon_piclist{
	width:297px;
	height:297px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	line-height: 0;
	font-size: 0;
	margin:0 22px;
}
.snews img{
	transition:all 1s ease 0s;
}
.snews img:hover{
	transform:scale(1.2,1.2);
}
.spro img{
	transition:all 1s ease 0s;
}
.spro img:hover{
	transform:scale(1.2,1.2);
}
.icase2 img{
	transition:all 1s ease 0s;
}
.icase2 img:hover{
	transform:scale(1.2,1.2);
}
.sban{
	width:100%;
	line-height: 0;
	font-size: 0;
}
.sban img{
	width:100%;
}
.smain{
	width:100%;
	background: white;
}
.sabout{
	width:100%;
	background: white url("images/x48.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x48.png*/) no-repeat center top;
}
.stype{
	width:100%;
	text-align: center;
	height:44px;
}
.stype a{
	display: inline-block;
	width:167px;
	height:44px;
	border-radius: 2px;
	background: #d3d3d3;
	margin:0 10px;
	font-size: 20px;
	color:#616161;
	line-height: 44px;
}
.stype a:hover{
	background: #c39746;
	color:white;
}
.scon{
	color:#616161;
	font-size: 20px;
	width:1200px;
	margin:0 auto;
}
.bot{
	width:100%;
	text-align: center;
	height:63px;
	line-height: 63px;
	color:white;
	font-size: 16px;
	background: #090b14;
}
.icase2{
	margin-top:57px;
}
.icase2 a{
	display: block;
	margin-bottom:40px;
}
.icase2pic{
	width:261px;
	height:412px;
	overflow: hidden;
}
.pages{
	width:100%;
	text-align: center;
	height:26px;
}
.pages a{
	display: inline-block;
	height:26px;
	padding:0 10px;
	margin:0 5px;
	line-height: 26px;
	color:#444444;
	font-size: 16px;
}
.pages a:hover{
	background: #e5e5e5;
}
.scasebox{
	width:100%;
	background: url("images/x49.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x49.png*/) no-repeat center top;
}
.scase{
	width:100%;
	background: url("images/x50.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x50.png*/) no-repeat center bottom;
}
.sjob{
	width:100%;
	background: url("images/x51.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x51.png*/) no-repeat center 51px;
}
.job_list{
	width:1200px;
	margin:0 auto;
}
.job_list table{
	border-collapse: 0;
	border-spacing: 0;
	width:1200px;
}
.job_list tr{
	width:100%;
	border-radius: 6px;
	height:64px;
}
.job_list th{
	color:#444444;
	font-size: 18px;
	text-align: center;
}
.job_list td{
	color:#444444;
	font-size: 14px;
	text-align: center;
}
.job_list a{
	color:#444444;
	font-size: 18px;
	text-align: center;
	display: block;
}
.job_list a span{
	font-size: 22px;
	color:#444444;
}
.job_listpic{
	width:100%;
	text-align: center;
	line-height: 0;
	font-size: 0;
}
.sprobox{width:100%;background: url("images/x53.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x53.png*/) no-repeat center top;}
.spro{width:1316px;margin:0 auto;}
.spro a{ float:left; width:359px; margin-left:58px; height:405px;border:1px dashed #aaaaaa;margin-top:47px; display: block;overflow: hidden;}
.spro a img{width:359px;height:276px;}
.spro a p{line-height: 68px;height:68px;color:#686868;font-size: 24px;text-align: center;}
.spro a span{width:74px;margin:0 auto;display: block;text-align: center;color:#686868;font-size: 18px;height:29px;border-bottom:1px solid #aaaaaa;}
.iproshow{
	width:1200px;
	margin:0 auto;
}
.iproshow img{
	display: block;
	margin:0 auto;
	max-width:590px;
}
.iproshow_tit{
	text-align: center;
	width:590px;
	height:52px;
	line-height: 52px;
	color:#444444;
	border-bottom:1px solid #d2d2d2;
	margin:0 auto;
	font-size: 22px;
}
.pages2{
	width:1200px;
	margin:0 auto;
}
.pages2 a{
	color:#9b9b9b;
	font-size: 16px;
	display: block;
	line-height: 40px;
}
.snewsbox{
	background: url("images/x60.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x60.png*/) no-repeat center 79px;
}
.snews{
	width:1170px;
	margin:0 auto;
}
.snewsl{
	float:left;
	width:437px;
}
.snewsl a{
	margin-bottom:96px;
	display: block;
	width:437px;
}
.snewsl_tit{
	color:#444444;
	font-size: 22px;
	text-align: right;
}
.snewsl_line{
	width:100%;
	height:1px;
	background: url("images/x55.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x55.jpg*/) no-repeat right center;
}
.snewsl_con{
	color:#686868;
	font-size: 14px;
	line-height: 28px;
}
.snewsm{
	width:172px;
	float:left;
	margin:0 62px;
	background: url("images/x56.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x56.png*/) no-repeat center center;
}
.snewsm_pic{
	width:172px;
	height:172px;
	border-radius: 50%;
	overflow: hidden;
}
.snewsl_tit2{
	text-align: left;
}
.snewsl_line2{
	background: url("images/x55.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x55.jpg*/) no-repeat left center;
}
.inewsshow{
	width:1200px;
	margin:0 auto;
}
.inewsshow_tit{
	text-align: center;
	color:#444444;
	font-size: 24px;
}
.inewsshow_date{
	text-align: center;
	color:#9b9b9b;
	font-size: 16px;
}
.inewsshow_con{
	color:#444444;
	font-size: 16px;
}
.snewsshowbox{
	background: url("images/x61.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x61.png*/) no-repeat center 80px;
}
.sgbook{
	background: url("images/x62.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x62.png*/) no-repeat center 203px;
}
.gbook{
	width:480px;
	margin:0 auto;
}
.gbooktit{
	float:left;
	padding-right:18px;
	width:90px;
	text-align: right;
	color:#4d4d4d;
	font-size: 18px;
	height:36px;
	line-height: 36px;
}
.gbookinp{
	float:left;
	width:297px;
	background: url("images/x63.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x63.png*/);
}
.gbookinp input{
	width:290px;
	padding-left:7px;
	height:36px;
	line-height: 36px;
	color:#4d4d4d;
	font-size: 18px;
}
.gbookxing{
	color:red;
	line-height: 36px;
	text-align: right;
	width:17px;
	float:left;
}
.gbookinp textarea{
	width:358px;
	height:149px;
	background: url("images/x64.png"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/default/images/x64.png*/);
	color:#4d4d4d;
	font-size: 18px;
	padding:7px;
	resize:none;
}
.gbookbtn{
	float:left;
	width:358px;
}
.gbookbtn input[type="submit"]{
	width:126px;
	height:38px;
	background: #c39746;
	text-align: center;
	line-height: 38px;
	color:white;
	font-size: 18px;
	margin-left:49px;
	float:left;
}
.gbookbtn input[type="reset"]{
	width:126px;
	height:38px;
	background: #8b8b8b;
	text-align: center;
	line-height: 38px;
	color:white;
	font-size: 18px;
	margin-left:16px;
	float:left;
}
.job_show_btn{
	width:100px;
	height:30px;
	background: #a97d50;
	text-align: center;
	line-height: 30px;
	margin:0 auto;
}
.job_show_btn a{
	display: block;
	color:white;
}
.jianli{
	width:895px;
	margin:0 auto;
}
.jianli_tit{
	color:#333333;
	text-align: center;
	width:110px;
	line-height: 39px;
	height:39px;
	float:left;
	margin-top:16px;
}
.jianli_inp{
	float:left;
	width:277px;
	height:39px;
	margin-top:16px;
}
.jianli_inp input{
	width:260px;
	height:37px;
	border:1px solid #666666;
	line-height: 39px;
	padding-left:15px;
}
.jianli_xing{
	color:#ff0101;
	width:25px;
	height:39px;
	line-height: 39px;
	text-align: center;
	float:left;
	margin-top:16px;
}
.jianli_area{
	width:550px;
	height:112px;
	float:left;
	margin-top:16px;
}
.jianli_area textarea{
	width:518px;
	height:90px;
	border:1px solid #666;
	resize:none;
	padding:10px 15px;
}
.jianli_btn{
	width:100px;
	height:30px;
	margin:0 auto;
}
.jianli_btn input{
	width:100px;
	height:30px;
	color:white;
	background: #a97d50;
	text-align: center;
	line-height: 30px;
}
.job_show{
	width:1200px;
	margin:0 auto;
}
.sproshow{
	width:830px;
	margin:0 auto;
}
.sproshow1{
	text-align: center;
	width:100%;
	color:#1a1a1a;
	font-size: 16px;
}
.sproshow2{
	color:#999;
	text-align: center;
}
.sproshow3{
	width:100%;
	height:1px;
	background: url("../images/x20.jpg"/*tpa=http://xyj0207.15.baidusx.com/h5/templates/images/x20.jpg*/) repeat-x;
}
.sproshow4{
	text-align: center;
}
.sproshow4 img{
	width:500px;
}
.sproshow5{
	color:#333333;
	line-height: 34px;
}
.sproshow5 p{
	color:#333333;
	line-height: 34px;
}